<mat-toolbar color="primary">
    <i class="material-icons">
    terrain
    </i>
  <span>ClimbOn!</span>
  <button mat-button [routerLink]="['/']">Home</button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <span>
    <button mat-button [routerLink]="['/dashboard']" routerLinkActive="mat-raised-button">Dashboard</button>
    <button mat-button [routerLink]="['/climbs']" routerLinkActive="mat-raised-button">Climbs</button>
    <button mat-button [routerLink]="['/register']" routerLinkActive="mat-raised-button">Register</button>
    <button mat-button [routerLink]="['/login']" routerLinkActive="mat-raised-button">Login</button>
  </span>
</mat-toolbar>
  



