form {
    /* background-color: white; */
}

.form-field {
    display: flex;
    flex-direction: column;
    padding: 25px 100px;
    /* background-color: black; */
}

.form-field .mat-radio-button {
    margin: 0 12px;
    padding: 10px 0;
}

mat-form-field { 
    margin: 20px 0;
}
