<!-- <div class="wrapper">
  <div class="wrapper-title" color="primary">
      <mat-toolbar color="primary">
          Login
      </mat-toolbar>
  </div>
  <div class=content-wrapper>
    <div class="content-vew">
      <form class="input-form">
        <mat-form-field class="full-width">
          <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Password">
        </mat-form-field>
      </form>
    </div>
  </div>
</div> -->

<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>
      Login
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="input-form">
        <mat-form-field class="full-width">
          <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Password">
        </mat-form-field>
      </form>
  </mat-card-content>
  <mat-card-actions>
    <span></span>
    <span class="fill-remaining-space"></span>
    <span>
      <button mat-raised-button color="accent">
        Submit
      </button>
    </span>
  </mat-card-actions>
</mat-card>