<div class="wrapper">
  <div class="wrapper-title" color="primary">
      <mat-toolbar color="primary">
          Login
      </mat-toolbar>
  </div>
  <div class="content-wrapper">
    <div class="content-view">
      <form class="input-form">
        <mat-form-field class="full-width">
          <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Password">
        </mat-form-field>
      </form>
    </div>
    <div class="content-footer">
      <button mat-raised-button color="accent">
        Submit
      </button>
    </div>
  </div>
</div>
