<div class="wrapper">
  <div class="wrapper-title" color="primary">
      <mat-toolbar color="primary">
          Login
      </mat-toolbar>
  </div>
  <div class="content-wrapper">
    <div class="content-view">
      <form class="input-form" [formGroup]="loginForm" (submit)="onLoginSubmit()">
        <mat-form-field class="full-width">
          <input matInput placeholder="Username" type="text" formControlName="userName">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <div class="content-footer">
          <mat-toolbar class="align-toolbar"> 
              <span></span>
              <span class="fill-remaining-space"></span>
              <span><button mat-raised-button color="accent" type="submit">
                  Submit
                </button>
              </span>
          </mat-toolbar>
        </div>
      </form>
    </div>
  </div>
</div>
