/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background:url("./assets/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-card {
    min-width: 250px;
    max-width: 400px;
    min-height: 200px;
    margin: 40px auto;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

