/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background:url("./assets/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

mat-grid-list {
    box-shadow: 1px 1px black;
}

mat-grid-tile {
    box-shadow: 1px 1px black;
    border-radius: 1rem;

}

#home-container {
    background-color: white;
    min-width: 30rem;
    max-width: 50rem;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
}

#home-title {
    text-align: center;
    padding: 2rem;
}

.login-card {
    min-width: 250px;
    max-width: 400px;
    min-height: 200px;
    margin: 40px auto;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.align-toolbar {
    background-color: #fff !important;
}

.wrapper {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    margin: 4px auto;
    margin-top: 2%;
    min-width: 200px;
    max-width: 350px;
    background-color: #fff;
}
.fill-remaining-space {
    flex: 1 1 auto;
}

.wrapper-title {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.title-spacer {
    flex: 1 1 auto;
    padding: 15px 20px;
}

.content-wrapper {
    padding: 10px;
    min-height: 288px;

}

.input-form {
    min-width: 150px;
    max-width: 250px;
    width: 100%;
    margin: 20px auto;
}
  
.full-width {
    width: 100%;
}


