/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    /* background:url("./assets/background.jpg"); */
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2333691e' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23214413' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%233e5937' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2336362a' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23494a50' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%234a2942' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23543a68' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%235f1b59' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%235f2b81' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23730e71' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%236a1b9a' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

mat-spinner {
    margin: 0px auto;
}

.container-card {
    width: 600px;
    margin: 50px auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.loader{
    height: 300px;
    margin-top: 100px;
    width: 600px;
}

.home-icon {
    font-size: 60px;
    color: #33691e;
}

.inner-container {
    padding: 2vw;
    background-color:#ffffff;
    text-align: center;
}

.button-container {
    margin-top: 4vh;
}

#home-buttons button {
    margin: 5vh .25vw;
}

#home-container {
    background-color: white;
    min-width: 30rem;
    max-width: 35rem;
    margin: 2.5rem auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#home-title {
    text-align: center;
    padding: 2rem;
    margin-bottom: 5vh;
    background-color: #33691e;
    color: white;
}

.login-card {
    min-width: 250px;
    max-width: 400px;
    min-height: 200px;
    margin: 40px auto;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.align-toolbar {
    background-color: #fff !important;
}

.wrapper {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    margin: 4px auto;
    margin-top: 2%;
    min-width: 200px;
    max-width: 350px;
    background-color: #fff;
}
.fill-remaining-space {
    flex: 1 1 auto;
}

.wrapper-title {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.title-spacer {
    flex: 1 1 auto;
    padding: 15px 20px;
}

.content-wrapper {
    padding: 10px;
    min-height: 20vh;

}

.input-form {
    min-width: 150px;
    max-width: 250px;
    width: 100%;
    margin: 20px auto;
}
  
.full-width {
    width: 100%;
}


