@import '~@angular/material/theming';
@include mat-core();

$climb-app-primary: mat-palette($mat-light-green, 900);
$climb-app-accent: mat-palette($mat-purple, 800);

$climb-app-theme: mat-light-theme($climb-app-primary, $climb-app-accent);


@include angular-material-theme($climb-app-theme);